  <!-- /$$$$$$   /$$$$$$  /$$$$$$$ -->
 <!-- /$$__  $$ /$$__  $$| $$__  $$ -->
<!-- | $$  \__/| $$  \ $$| $$  \ $$ -->
<!-- | $$ /$$$$| $$  | $$| $$  | $$ -->
<!-- | $$|_  $$| $$  | $$| $$  | $$ -->
<!-- | $$  \ $$| $$  | $$| $$  | $$ -->
<!-- |  $$$$$$/|  $$$$$$/| $$$$$$$/ -->
 <!-- \______/  \______/ |_______/ -->



 <!-- /$$$$$$$  /$$       /$$$$$$$$  /$$$$$$   /$$$$$$ -->
<!-- | $$__  $$| $$      | $$_____/ /$$__  $$ /$$__  $$ -->
<!-- | $$  \ $$| $$      | $$      | $$  \__/| $$  \__/ -->
<!-- | $$$$$$$ | $$      | $$$$$   |  $$$$$$ |  $$$$$$ -->
<!-- | $$__  $$| $$      | $$__/    \____  $$ \____  $$ -->
<!-- | $$  \ $$| $$      | $$       /$$  \ $$ /$$  \ $$ -->
<!-- | $$$$$$$/| $$$$$$$$| $$$$$$$$|  $$$$$$/|  $$$$$$/ -->
<!-- |_______/ |________/|________/ \______/  \______/ -->



 <!-- /$$$$$$$$ /$$   /$$ /$$$$$$$$ -->
<!-- |__  $$__/| $$  | $$| $$_____/ -->
  <!--  | $$   | $$  | $$| $$ -->
  <!--  | $$   | $$$$$$$$| $$$$$ -->
  <!--  | $$   | $$__  $$| $$__/ -->
  <!--  | $$   | $$  | $$| $$ -->
  <!--  | $$   | $$  | $$| $$$$$$$$ -->
  <!--  |__/   |__/  |__/|________/ -->



 <!-- /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$$$$$$ -->
<!-- |__  $$__/| $$__  $$ /$$__  $$| $$__  $$ -->
  <!--  | $$   | $$  \ $$| $$  \ $$| $$  \ $$ -->
  <!--  | $$   | $$$$$$$/| $$$$$$$$| $$$$$$$/ -->
  <!--  | $$   | $$__  $$| $$__  $$| $$____/ -->
  <!--  | $$   | $$  \ $$| $$  | $$| $$ -->
  <!--  | $$   | $$  | $$| $$  | $$| $$ -->
  <!--  |__/   |__/  |__/|__/  |__/|__/ -->

