<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-2">
        <p class="intro">This is James Washington's <a href="index.html">personal website</a>.</p>
        <p class="intro">He is currently studying at the<a href="http://www.uark.edu/"> University of Arkansas</a>.</p>
        <p class="intro">Follow him on <a href="https://www.instagram.com/j1zz4m35/">Instagram</a> or <a href="https://www.twitter.com/jbw014/">Twitter</a>, check out his <a href="work.html">personal projects</a>, read his <a href="blog.html">blog</a>, or send him an <a href="mailto:jbwashington@gmail.com">email</a>.</p>
      </div>
    </div>
  </div>
</header>
