@import 'vendors/bootstrap';
@import 'helpers/variables';

html {
  background-size: cover;

}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: $black;
  color: $white;
  font-family: $body-font;
  tap-highlight-color: $brand-tertiary;

}

.content {
  font-family: $body-font;
}

.wrapper {
  background-color: $black;
  border-style: solid;
  border-color: $red;
}
