@import 'vendors/bootstrap';
@import 'helpers/variables';

html {
  background-size: cover;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  max-height: 100%;
  background-color: $bg-color;
  color: $body-color;
  font-family: $body-font;
  tap-highlight-color: $brand-tertiary;

}

.content {
  font-family: $body-font;
}
