@import 'vendors/bootstrap';
@import 'helpers/variables';
@import 'base/typography';

/////////
// HEADER
/////////

.intro {
  display: block;
  font-family: $header-font;
  // margin: 2rem;
  font-size: 6rem;

  ul {
    margin-left: 0;
  }

  li {
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: .8rem;
    text-transform: uppercase;

  }

  a {
    // text-decoration: underline;
  }
}
