@import 'vendors/bootstrap';
@import 'helpers/variables';
@import 'base/typography';

/////////
// HEADER
/////////

header {

  h2 {
    color: $header-color;
    font-family: $header-font;
    font-size: $h2-size;
    font-weight: 500;
    padding: 1rem 2rem .4rem .8rem;
  }

  .intro {
    font-size: 1.6rem;
  }
}

.splash {
  padding: 1.6rem;
}
