@import 'vendors/bootstrap';
@import 'helpers/variables';

/////////////
// NAVBAR  //
/////////////

.navbar-default {
  background-color: $white;
  border-color: rgba(35, 35, 35, .05);
  transition: all .4s;
}

.navbar-fixed-top {
  top: 0;
}

@include media-breakpoint-up(sm) {
  .navbar-fixed-bottom,
  .navbar-fixed-top {
    border-radius: 0;
  }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1030;
}

@include media-breakpoint-up(sm) {
  .navbar {
    border-radius: .25rem;
  }
}

.navbar {
  padding: .5rem 1rem;
  position: relative;
}

.navbar-brand {
  h1 {
    @include text-hide;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

*,
::after,
::before {
  box-sizing: inherit;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
