@import 'vendors/bootstrap';
@import 'helpers/variables';

/////////////
// NAVBAR  //
/////////////

.navbar.navbar-logo {
  left: 0;
  position: absolute;
  top: 0;
}

.navbar-toggler.navbar-custom {
  background: $red;
  border-radius: 0;
  color: $white;
  margin: 1.2rem;
  position: absolute;
  right: 0;
  top: 0;
}

.navbar-brand {
  background: transparent;

  &:hover {
    background: transparent;
  }
}
