@import 'vendors/bootstrap';
@import 'helpers/variables';

/////////////
// NAVBAR  //
/////////////

.navbar.navbar-logo {
  background: $black;
  left: 0;
  position: absolute;
  top: 0;
}

.navbar-toggler.navbar-custom {
  background: $darkergray;
  border-radius: 0;
  color: $white;
  margin: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(1.3);
}


.intro {
  font-size: 2.5rem;
}

