@import 'helpers/variables';

.content {
  padding-top: 3rem;
}

section {
  min-height: 600px;
  padding: 100px 0;
}

aside {

  padding: 45px 0;
}

.list-group-item,
.card-footer {
  background-color: transparent;
}

textarea {
  resize: none;
}
