@import 'vendors/bootstrap';
@import 'helpers/variables';

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background: transparent;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}
