.btn.btn-primary {
  background-color: transparent;
  border:1px solid #007FFF;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color:#007FFF;
}

.btn.btn-primary:hover {
  opacity: 0.7;
}

.btn-primary-outline {
  border-color:#007FFF;
  color:#007FFF;
}
.btn-primary-outline:hover {
  background-color:#007FFF;
}

.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
}

