@import 'helpers/variables';

html,
body {
  height: 100%;
  width: 100%;
}

body {
  border: 5px solid $brand-primary;
  font-family: $body-font;
  min-height: 75rem;
  tap-highlight-color: $magenta;

  // workaround modal-open padding issue
  .modal-open {
    padding-right:0 !important;
  }
}

.outer {

}

// html {
//   background: url('https://media.giphy.com/media/H9GdRg90WerxC/giphy.gif') no-repeat center center fixed;
//   background-size: cover;

//   body {
//     height: 100%;
//     width: 100%;
//   }
// }

// body {
//   background-color: rgba(51, 51, 51, .9);
//   color: $white;
//   height: inherit;
//   min-height: 75rem; // Show it's not fixed to the top
//   padding-top: 6rem;
// }
