@import 'vendors/bootstrap';

.navbar-brand {
  margin: 0 auto;
  // padding-left: 15px;
  width: 100%;

  img {
    height: 100%;
    width: auto;
  }
}

@include media-breakpoint-up(sm) {
  .navbar-brand {
    // left: 50%;
    padding: 0;
    // position: absolute;
    // transform: translateX(-50%);

    img {
      height: 100%;
      // padding: 7px 14px;
      width: 100%;
    }
  }
}
