@import '/helpers/variables';

///////////
// posts //
///////////

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $white;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $darkGray;
    padding: 0.1em 1em;
    color: $darkGray;
    font-size: $body-size;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    color: $darkGray;
    text-transform: uppercase;
    font-size: $body-size;
  }
}

