@import 'helpers/mixins';
@import 'helpers/variables';

// write this once, and apply this class to all svgs and absolutely position them top left inline block:

.svg {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; // only required for <img />
}

.svg-container {
  @include background-image('opener');
  @include svg-responsive(7rem, 7rem, 100%); // arguments are ($svgwidth, $svgheight, $containerwidth)
  margin: 0 auto auto 0;
  max-width: 90%;
}

// svg#intro_1 {
//   bottom: 0;
//   max-width: 100%;
//   position: absolute;
// }
