@import 'variables';

////////////////
// BASE RULES //
////////////////


// STICKY FOOTER STYLES

html {
  min-height: 100%;
  position: relative;
}

body {
  background: rgba(51, 51, 51, 1);
  color: $white;
  font: 1rem $body-font;
  font-size: $body-size;
  height: 100%;
  margin-bottom: 60px; // Margin bottom by footer height
}

#particles-js {
  position: relative;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

code {
  font-size: 80%;
}

* {
  margin: 0;
}

.page-wrap {
  margin-bottom: $footer-height; // equal to footer height
  min-height: 100%;
}

.page-wrap:after {
  content: '';
  display: block;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 900;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: $h1-size;
}

a {
  color: $brand-primary;
  line-height: .3rem;
  text-transform: uppercase;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
  color: $brand-primary;
}

h6 {
  line-height: 0;
  font-size: smaller;
  margin: 0;
}


p {
  margin: 15px 0;
  font-size: $body-size;
  font-family: $body-font;
}

a {
  color: $brand-primary;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $brand-primary;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
  font-size: $body-size;
}
em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

// img {
//   max-width: 100%;
// }

// Fixes images in popup boxes from Google Translate
// .gmnoprint img {
//   max-width: none;
// }

// .date {
//   font-style: italic;
//   color: $gray;
// }

// // Specify the color of the selection
// ::-moz-selection {
//   color: $white;
//   background: magenta;
// }
// ::selection {
//   color: $white;
//   background: magenta;
// }

///////////////////////////////////////////////////
// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
///////////////////////////////////////////////////

// .clearfix:before,
// .clearfix:after {
//   content: " ";
//   display: table;
// }

// .clearfix:after {
//   clear: both;
// }

// .site-info {
//   float: left;

//   @include mobile {
//     float: none;
//     display: block;
//     margin: 0 auto;
//   }
// }

// .site-name {
//   margin: 0;
//   color: $white;
//   cursor: pointer;
//   font-family: $header-font;
//   font-weight: 300;
//   font-size: $site-name-size;
//   font-transform: uppercase;
//   letter-spacing: 1px;
// }

// .site-description {
//   margin: -5px 0 0 0;
//   color: $white;
//   font-size: $site-description-size;

//   @include mobile {
//     margin: 3px 0;
//   }
// }
