@import 'variables';

.landing-content {
  // height: 100%;
  padding-top: 2rem;
  // width: 100%;

  p {
    font-family: $header-font;
    font-size: .9rem;
    line-height: 1.4rem;
    padding-bottom: .4rem;
    text-transform: uppercase;
  }

  // svg {
  //   height: 50%;
  //   width: 50%;
  // }
}

.portfolio {
  display: none;
}
