/////////////
// navbar  //
/////////////

button.navbar-toggle {
    background: transparent;
    color: white;
    border-color: transparent;
}

// nav {
//   float: both;
//   margin-top: 2rem;
//   font-family: $header-font;
//   font-size: $nav-size;

//   @include mobile {
//     float: none;
//     margin-top: 9px;
//     display: block;
//     font-size: ($nav-size / .8);
//   }

//   a {
//     margin-left: 20px;
//     color: $brand-primary;
//     text-align: right;
//     font-weight: 300;
//     letter-spacing: 1px;

//     @include mobile {
//       margin: 0 10px;
//       color: $brand-primary;
//     }
//   }
// }

