@import 'helpers/functions';

// Set a rem font size with pixel fallback
//////////////////////////////////////////
@mixin font-size($size) {
  // font-size: $size;
  font-size: calculaterem($size);
}

// SVG background images with PNG and retina fallback
/////////////////////////////////////////////////////

$image-path: './img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

@mixin background-image($name, $size:false) {
  background-image: url(#{$image-path}/#{$name}.svg);
  @if($size){
    background-size: $size;
  }

  .no-svg & {
    background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
    }
  }
}

//Pass in width / height without any length unit specifier (so we don't have to do sill strip unit wackiness!), and
//this will determine appropraite ratio for padding hack and deliver the conainter code.
//Ex. if you had W100 and H200 you'll get a `padding-bottom:200%`
//Preferably, put something like `viewBox="0 0 N N" preserveAspectRatio="xMinYMin meet"` on your SVG root element
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$svg-container-namespace: '.svg-container';
//Give 'em' 1:1 responsive container by default
#{$svg-container-namespace} {
  display: inline-block;
  height: 0;
  //Default for 1:1 aspect ratio
  overflow: hidden;
  padding: 0;
  padding-bottom: 100%;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

//Pass in width / height without any length unit specifier (so we don't have to do sill strip unit wackiness!), and
//this will determine appropraite ratio for padding hack and deliver the conainter code.
//Ex. if you had W100 and H200 you'll get a `padding-bottom:200%`
//Preferably, put something like `viewBox="0 0 N N" preserveAspectRatio="xMinYMin meet"` on your SVG root element

@mixin svg-responsive ($width: 1, $height: 1, $suffix:'') {
  $padding-bottom: percentage($height/$width);

  #{$svg-container-namespace}-#{$suffix} {
    padding-bottom: $padding-bottom;
  }
}

@include svg-responsive (1, 2, '2x-height');


// vendor prefixes for animations and keyframes
///////////////////////////////////////////////

@mixin keyframes($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  animation: #{$str};
}

// vendor prefixes for transitions
//////////////////////////////////

@mixin transition($args...) {
  transition: $args;
}

// cross-broser opacity
///////////////////////

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
