@import 'helpers/mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

///////////////
// ========= //
// VARIABLES //
// ========= //
///////////////

////////////////////
// Primary Colors //
////////////////////

$black      : #000;
$darkergray : #231f20;
$darkgray   : #333;
$gray       : #9c9298;
$lightgray  : #eee;
$white      : #fbfbfb;
$magenta    : #f0f;
$neon       : rgb(187, 255, 0);
$red        : #ff305b;


/////////
// Colors
/////////
$brand-primary   : $red;
$brand-secondary : $gray;
$brand-tertiary  : $neon;


////////////////////////////////
// Styling Color Abstractions //
////////////////////////////////
$bg-color     : $black;
$body-color   : $white;
$header-color : $red;

////////////////////
// Molokai Colors //
////////////////////
$molokai-background: #1b1d1e;
$near-black: #080800;
$near-white: #f8f8f0;
$off-white: #c4be89;
$cyan: #66d9ef;
$deep-blue: #13354a;
$blue-gray: #293739;
$light-blue: #7e8e91;
$green: #a6e22e;
$pale-yellow: #e6db74;
$orange: #fd971f;
$red: #ed1c24;
$magenta: #f92672;


// Molokai Grays
$gray-darker: #232526;
$gray-dark: #272822;
$gray: #75715e;
$gray-light: #808080;
$gray-lighter: #bcbcbc;


/////////////////
// Font stacks //
/////////////////

$inconsolata : "inconsolata", "courier", monospace;
$roboto      : "roboto", arial, sans-serif;
$body-font   : $inconsolata;
$header-font : $roboto;

////////////////
// Text Sizes //
////////////////
$body-size             : 16px;
$h1-size               : 2.7rem;
$h2-size               : 2.4rem;
$h3-size               : 2.1rem;
$h4-size               : 1.8rem;
$h5-size               : 2rem;
$h6-size               : 2rem;
$h7-size               : 2rem;
$code-size             : 2rem;
$li-size               : $body-size;
$ul-size               : $body-size;
$site-name-size        : 2rem;
$site-description-size : 1.6rem;
$nav-size              : 1rem;


///////////////////
// Element Sizes //
///////////////////

$opener-size : 12rem;
