<!DOCTYPE html>

<html>

  <!-- /$$$$$$   /$$$$$$  /$$$$$$$ -->
 <!-- /$$__  $$ /$$__  $$| $$__  $$ -->
<!-- | $$  \__/| $$  \ $$| $$  \ $$ -->
<!-- | $$ /$$$$| $$  | $$| $$  | $$ -->
<!-- | $$|_  $$| $$  | $$| $$  | $$ -->
<!-- | $$  \ $$| $$  | $$| $$  | $$ -->
<!-- |  $$$$$$/|  $$$$$$/| $$$$$$$/ -->
 <!-- \______/  \______/ |_______/ -->



 <!-- /$$$$$$$  /$$       /$$$$$$$$  /$$$$$$   /$$$$$$ -->
<!-- | $$__  $$| $$      | $$_____/ /$$__  $$ /$$__  $$ -->
<!-- | $$  \ $$| $$      | $$      | $$  \__/| $$  \__/ -->
<!-- | $$$$$$$ | $$      | $$$$$   |  $$$$$$ |  $$$$$$ -->
<!-- | $$__  $$| $$      | $$__/    \____  $$ \____  $$ -->
<!-- | $$  \ $$| $$      | $$       /$$  \ $$ /$$  \ $$ -->
<!-- | $$$$$$$/| $$$$$$$$| $$$$$$$$|  $$$$$$/|  $$$$$$/ -->
<!-- |_______/ |________/|________/ \______/  \______/ -->



 <!-- /$$$$$$$$ /$$   /$$ /$$$$$$$$ -->
<!-- |__  $$__/| $$  | $$| $$_____/ -->
  <!--  | $$   | $$  | $$| $$ -->
  <!--  | $$   | $$$$$$$$| $$$$$ -->
  <!--  | $$   | $$__  $$| $$__/ -->
  <!--  | $$   | $$  | $$| $$ -->
  <!--  | $$   | $$  | $$| $$$$$$$$ -->
  <!--  |__/   |__/  |__/|________/ -->



 <!-- /$$$$$$$$ /$$$$$$$   /$$$$$$  /$$$$$$$ -->
<!-- |__  $$__/| $$__  $$ /$$__  $$| $$__  $$ -->
  <!--  | $$   | $$  \ $$| $$  \ $$| $$  \ $$ -->
  <!--  | $$   | $$$$$$$/| $$$$$$$$| $$$$$$$/ -->
  <!--  | $$   | $$__  $$| $$__  $$| $$____/ -->
  <!--  | $$   | $$  \ $$| $$  | $$| $$ -->
  <!--  | $$   | $$  | $$| $$  | $$| $$ -->
  <!--  |__/   |__/  |__/|__/  |__/|__/ -->

  {% include head.html %}

  <body>

    <div class="wrapper">

      {% include nav.html %}

      {{ content }}

      {% include scripts.html %}

    </div>

    <script id="dsq-count-scr" src="//jameswashington.disqus.com/count.js" async></script>

  </body>

</html>
