@import 'helpers/variables';
@import 'helpers/mixins';

@import url(https://fonts.googleapis.com/css?family=Lato:900|Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

body {
  text-shadow: 0 0 1 #909090;
  font-family: 'Montserrat','Helvetica Neue',Arial,sans-serif;
  color: $darkgray;
  tap-highlight-color: $magenta;
  top: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: 900;
  margin: 1em 0 15px;
  padding: 0;
}

h1 {
  font-size: $h1-size;
}

a {
  color: $brand-primary;
  cursor: pointer;
  line-height: .3rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .35s;

  &:hover,
  &:focus {
    color: $red;
    outline: 0;
  }

  &:hover,
  &:active {
    color: $brand-primary;
  }
}


.call-to-action {
  margin: 0 auto 20px;

  h2 {
    font-size: $h2-size;
  }
}

h3 {
  font-size: $h3-size;
}

h4 {
  color: $brand-primary;
  font-size: $h4-size;
}

h6 {
  font-size: smaller;
  line-height: 0;
  margin: 0;
}


p {
  @include font-size($body-size);
  font-family: $body-font;
  line-height: 1.7;
  // margin-bottom: 20px;
}


ul,
ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

li {
  font-size: $body-size;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

.text-normal {
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wide-space {
  letter-spacing: 1.6px;
}

.icon-lg {
  font-size: 50px;
  line-height: 18px;
}

.bg-primary {
  background-color: #007FFF;
}

.bg-alt {
  background-color: #fff;
}

.text-faded {
  color: rgba(245,245,245,0.7);
}

.text-dark {
  color: #001A33;
}

.text-light {
  color: #fff;
}

.text-light:hover,.text-light:focus {
  color: #eee;
  text-decoration:none;
}

.text-primary {
  color: #007FFF;
}

hr {
  max-width: 120px;
  border-width: 3px;
  opacity: 0.08;
  margin-top: 25px;
  margin-bottom: 25px;
}

hr.light {
  border-color: #fff;
  opacity: 1;
}

hr.primary {
  border-color: #007FFF;
  opacity: 1;
}


