@import 'helpers/variables';
@import 'helpers/mixins';

body {
  color: $gray-dark;
  font-family: inherit;
  font-family: $body-font;
  font-size: $body-size;
  text-shadow: 0 0 1 $gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

h1 {
  font: $font-size-h1;
}

a {
  color: $brand-primary;
  cursor: pointer;
}

h2 {
  font: $font-size-h2;
}

h3 {
  font: $font-size-h3;
}

h4 {
  font: $font-size-h4;
}

h6 {
  font: $font-size-h6;
}


p {
  font-family: $body-font;
  font-size: $body-size;
}


ul,
ol {
  margin: 15px 0;
  padding-left: 2rem;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: decimal;
}

ol ul,
ul ol,
ul ul,
ol ol {
  margin: 0;
}

ul ul,
ol ul {
  list-style-type: circle;
}

li {
  font-size: $font-size-base;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

.bg-primary {
  background-color: $body-bg;
}

.bg-alt {
  background-color: $brand-success;
}

hr {
  border-width: 3px;
  margin-bottom: 25px;
  margin-top: 25px;
  max-width: 120px;
  opacity: .08;

  .light {
    border-color: $white;
    opacity: 1;
  }

  .primary {
    border-color: $brand-primary;
    opacity: 1;
  }
}


a {
    background: $red;
    color: $white;
    padding: .2rem;

  &:hover {
    background: $red;
    color: $white;
    padding: .2rem;
    text-decoration: none;
  }

  &:active {
    background: $red;
    color: $white;
    padding: 1rem;
    text-decoration: none;
  }
}
